# Configuration for vagrant-easyengine
#
# Author: Dima Minka
# URL: https://github.com/cdk-comp/vagrant-easyengine
#
# File Version: 1.2.2

ip: "192.168.13.100"
memory: 1024
cpus: 1
hostname: vagrant-easyengine
provider: parallels # parallels or virtualbox
vagrant_email: vagrant@easyengine.test # for git and ee notification
vagrant_user: VagrantEasyengine # for git and ee notification
vm_box: cdk-comp/vagrant-easyengine
app_installer: false # Run vagrant_up.sh for automatic app creating

authorize: ~/.ssh/id_rsa.pub

keys:
  - ~/.ssh/id_rsa

aliases:
  - example.test

folders:
  - map: /vagrant-easyengine/apps
    to: /home/vagrant/apps